html, body {
    padding: 10;
    background-color: #c4e9dd;
}

.selector-container {
    width: 30%; 
}
#countrySelect {
    width: 50%;
}
#lifeExpectancyChart {
    max-height: 80vh; 
    width: 80vw; 
}


@media (max-width: 768px) {
    #countrySelect, .container, #lifeExpectancyChart {
        width: 95%;
    }
}

